{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <header>
      <div>
        <h1>
          <a href="{% url 'index'%}">📚 Minha Estante</a>
        </h1>
      </div>
      <div>
        {% if user.is_authenticated %} {% if request.user.is_staff %}
        <a href="{% url 'adm' %}">
          <span class="lanca">Administrador</span>
          <style>
            .lanca:hover {
              color: rgb(129, 128, 128);
            }
          </style>
        </a>
        {% endif %}
        <p>Olá, {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Sair</a></p>
        {% else %}
        <a href="{% url 'cadastrar_usuario'%}">Cadastre-se</a> ou
        <a href="{% url 'login'%}">Faça login</a>
        {% endif %}
      </div>
    </header>
  </body>
</html>
