{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minha Estante</title>
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" />
  </head>
  <body>
    <header>
      <h1>📚 Minha Estante</h1>
    </header>

    <main>
      <h2>Minha Estante</h2>
      <a type="button" href="{% url 'cadastrar_livro' %}"
        >Adicionar novo livro</a
      >
      {% for livro in livros %}

      <ul>
        <li>
          <div>
            <h1>
              <strong>{{livro.nome}}</strong>
            </h1>
            <p>Autor: {{livro.autor.nome}}</p>

            <p>{{livro.descricao}}</p>
            <p>{{livro.get_status_display}}</p>
          </div>
          <div>
            <a type="button" href="#">Editar</a>
            <a type="button" href="#">Remover</a>
          </div>
        </li>
      </ul>

      {% empty %}
      <p>Não há livros aqui no momento</p>
      {% endfor %}
    </main>

    <footer>
      <p>Desenvolvido por Minha Estante © 2025</p>
    </footer>
  </body>
</html>
