{% extends "minha_estante/layout/base.html"%} {%block content%}
<h2>Minha Estante</h2>
<a class="add-livro" href="{% url 'cadastrar_livro' %}">Adicionar novo livro</a>

{% if livros %}
<div class="estante">
  {% for livro in livros %}
  <div class="livro">
    {% if livro.imagem %}
    <img src="{{ livro.imagem.url }}" alt="{{ livro.nome }}" />
    {% else %} sem img {% endif %}
    <strong>{{ livro.nome }}</strong>
    <p><small>Autor: {{ livro.autor.nome }}</small></p>
    <p><small>Status: {{ livro.get_status_display }}</small></p>
    <div class="botoes">
      <a href="{% url 'editar_livro' livro.id %}">Editar</a>
      <a href="{% url 'deletar_livro' livro.id %}">Remover</a>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p>Não há livros aqui no momento.</p>
{% endif %} {%endblock content%}
